body {
    background-image: url(images/1.png);
    background-color: white;
    font-family: monospace;
    margin: 0;
  }
  
  header {
    background-color: #fff;
  }
  
  .fioerror {
    border: 2px solid red;
  }
  
  .emailerror {
    border: 2px solid red;
  }
  
  .yoberror {
    border: 2px solid red;
  }
  
  .n_limbserror {
    border: 2px solid red;
  }
  
  .sp-sperror {
    border: 2px solid red;
  }
  
  .bioerror {
    border: 2px solid red;
  }
  
  .Galochkaerror {
    border: 2px solid red;
  }
  
  .banner {
    max-width: 960px;
    margin: 0 auto;
    padding: 30px;
  }
  
  li {
    display: flex;
  }
  
  .container {
    width: 100%;
    margin: 0 auto;
  }
  
  #logo {
    float: left;
    width: 100px;
    height: 100px;
  }
  
  .forma {
    background-color: #fff;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
  }
  
  footer {
    width: 100%;
    background-color: #fff;
    padding: 10px;
    margin-top: 20px;
    height: 40px;

  }
  
  .logstyle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }